{% trans_default_domain 'FOSUserBundle' %}
<div class="middle-box text-center loginscreen   animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">IN+</h1>

        </div>
        <h3>Register to IN+</h3>
        <p>Create account to see it in action.</p>
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            <div class="i-checks">
                {% for en in form.isEntreprise %}
                    &nbsp;
                    <label>{{ form_widget(en) }}
                        {{ form_label(en) }}
                    </label>
                    &nbsp;
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.email) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.plainPassword.first) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.plainPassword.second) }}
            </div>
            <div class="form-group">
                <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>
            </div>
            <div>
                <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary block full-width m-b" />
            </div>
            <p class="text-muted text-center"><small>Already have an account?</small></p>
            <a class="btn btn-sm btn-white btn-block" href="{{ path('fos_user_security_login') }}">Login</a>
        {{ form_end(form) }}
        <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
    </div>
</div>